#Blog_BgImg {
    background-image:  url("../images/Blog.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
    position: relative;
  }
  
  #Blog_BgImg_Overlay {
    background-color: #17356b;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
  }

  .Blog_Heading >h1 {
    color: #FFF;
    text-align: center;
    font-size: 3rem !important;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 50px;
  } 
  
  .Blog_Heading .Custom_Size {
    color: #FFF;
    font-size: 32px !important;
    font-weight: 600;
    text-transform: uppercase;
  }

  .Intro_Blog_Img {
    width: 662px;
    height: 388px; 
  }

  .Blog_Img > img{
    width: 662px;
    height: 430px; 
  }

  .Blog_Ideation_Margin {
    margin-top: 1rem;
  }

  .Blog_Intro_Img > img {
    border-radius: 10px;
  }

  .Blog_Intro_Heading >h1 {
    color: var(--primary-color);
    font-size: 32px;
    margin: 0 !important;
    padding: 0 !important;
    font-weight: 600;
    line-height: 45px;
    text-transform: uppercase;
  }

  .Blog_Intro_Heading > p {
    color: black;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
  }

  .Blog_Section > h1 {
    color: var(--primary-color);
    font-size: 2.5rem;
  }

  .Max-Width {
    max-width: 100% !important; 
  }

  .Conclusion_Section {
    background-image:  url("../images/Blog.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
    position: relative;
  }

  .Conclusion_Section_Overlay {
    background-color: #17356b;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
  }

 





/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) { 
}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {  
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
}
/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {   
}

 /* // X-Small devices (portrait phones, less than 576px) */
 @media (max-width: 575.98px) { 
  .Blog_Heading .Custom_Size {
      color: #FFF;
      font-size: 14px !important;
      font-weight: 600;
      text-transform: uppercase;
  }
  .Blog_Heading >h1 {
      margin: 5px 0px;
      color: #FFF;
      text-align: center;
      font-size: 19px !important;
      font-style: normal;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 22px;
  }
  .Intro_Blog_Img {
      width: auto !important;
      height: auto !important;
  }
  .Blog_Img > img {
    width: 317px;
    height: 219px;
  }
  .Blog_Section > h1 {
    font-weight: 700;
    color: var(--primary-color);
    font-size: 18px;
}

.agile-mb {
  margin-bottom: 0 !important;
}

  .Blog_Mobile_Height {
      height: 40vh;
  }
  .Blog_Intro_Heading >h1 {
      font-size: 18px;
      font-weight: 700;
      line-height: 45px;
      text-transform: uppercase;
      text-align: left;
  }
  .Blog_Intro_Heading {
    margin-top: 0rem !important;
  }

  .intro-mt {
    margin-top: 0.5rem !important;
  }

  .Blog_Intro_Heading > p {
      font-size: 15px;
      line-height: 23px;
      font-weight: 400;
  }
  .Blog_Intro_Heading {
    padding: 0 !important;
  }
  .Blog_Ideation_Margin {
  margin-top: 0;
 }
 .Blog_Section > h1 {
  padding-top: 10px !important;
  line-height: 1.2;
 }
 .Blog_Img_MT {
  margin-top: 1rem !important;
 }
 .startup-track-main {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
}


